<footer
  class="footer bg-base-200 text-base-content
         p-10 font-montserrat
         w-full" >
         <aside>
    <svg width="50" height="50" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      class="fill-current">
      <path
        d="M22.672 15.226l-2.432.811.841 2.515
           c.33 1.019-.209 2.127-1.23 2.456
           -1.15.325-2.148-.321-2.463-1.226
           l-.84-2.518-5.013 1.677.84 2.517
           c.391 1.203-.434 2.542-1.831 2.542
           -.88 0-1.601-.564-1.86-1.314
           l-.842-2.516-2.431.809
           c-1.135.328-2.145-.317-2.463-1.229"
      />
    </svg>

    <p>
      Mi Comunidad
      <br />
      © 2026 Guayaquil - Ecuador
    </p>
  </aside>

  <nav>
    <h6 class="footer-title">Servicios</h6>
    <a class="link link-hover">Reservas</a>
    <a class="link link-hover">Recursos</a>
    <a class="link link-hover">Noticias</a>
    <a class="link link-hover">Historial de Uso</a>
  </nav>

  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Términos de Uso</a>
    <a class="link link-hover">Política de Privacidad</a>
    <a class="link link-hover">Política de Cookies</a>
  </nav>

</footer>
