<div class="flex flex-row gap-3 font-montserrat">
  <label class="w-full input input-bordered input-primary flex items-center gap-2 mb-5">
    <input type="text" class="grow" placeholder="Search" (input)="buscar.emit($event)" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-4 w-4 opacity-70"
    >
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd"
      />
    </svg>
  </label>

  <button [routerLink]="['formulario']" class="btn btn-primary item">Nuevo</button>
</div>

<div class="flex w-full font-montserrat justify-center items-center m-auto">
  @if (dataEstado()) {
    <div class="mb-4 font-medium">
      <select class="select select-primary w-full max-w-xs" (input)="filtrar.emit($event)">
        <option value="" selected>Selecciona Estado</option>
        <option value="Aprobada">Aprobada</option>
        <option value="Pendiente">Pendiente</option>
        <option value="Rechazada">Rechazada</option>
      </select>
    </div>
  }
</div>

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-full max-w-6xl m-auto font-montserrat"
>
  @for (item of data(); track $index) {
    <div
      class="card bg-base-100 shadow-xl hover:shadow-2xl transition-all duration-300 group border border-base-300"
    >
      <figure class="h-56 relative overflow-hidden">
        @if (configCard().imagenUrl && item[configCard().imagenUrl!]) {
          <img
            [src]="item[configCard().imagenUrl!]"
            [alt]="item[configCard().titulo!]"
            class="h-full w-full object-cover group-hover:scale-110 transition-transform duration-500"
          />
        }
        <div
          class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent opacity-0 group-hover:opacity-100 transition-opacity"
        ></div>
      </figure>
      <div class="card-body text-center items-center">
        @if (configCard().titulo && item[configCard().titulo!]) {
          <h2 class="card-title font-bold text-md">{{ item[configCard().titulo!] }}</h2>
        }
        <!--  -->
        @if (configCard().subtitulo && item[configCard().subtitulo!]) {
          <p class="text-sm opacity-70">
            {{ item[configCard().subtitulo!] }} <br />
            {{ item[configCard().horaInicio!] }} - {{ item[configCard().horaFin!] }}
          </p>
        }
        @if (configCard().descripcion && item[configCard().descripcion!]) {
          <p class="text-md opacity-70">
            {{ item[configCard().descripcion!] }} <br />
            <span
              class="text-md"
              [style.color]="item[configCard().estado!] === 'Aprobada' ? 'green' : 'red'"
            >
              {{ item[configCard().estado!] }} <br />
            </span>
            <span
              class="text-xl font-bold"
              [style.color]="item[configCard().status!] === true ? 'green' : 'red'"
            >
              {{ item[configCard().status!] ? 'Activo' : 'Desactivado' }}
            </span>
          </p>
        }
        @if (rolUser() !== '' && rolUser() === 'Vecino') {
          @if (item[configCard().estado!] !== 'Aprobada') {
            <div class="card-actions justify-center mt-4">
              <button
                [routerLink]="['formulario/', item[configCard().id!]]"
                class="btn btn-circle btn-outline"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                  />
                </svg>
              </button>
              @if (item[configCard().status!] === true) {
                <button
                  class="btn btn-circle btn-outline"
                  (click)="eliminar.emit(item[configCard().id!])"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </button>
              } @else {
                <button
                  class="btn btn-circle btn-outline"
                  (click)="activar.emit(item[configCard().id!])"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-check-circle"
                    viewBox="0 0 16 16"
                  >
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path
                      d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"
                    />
                  </svg>
                </button>
              }
            </div>
          }
        }
        <!--  -->
        @if (rolUser() === 'Administrador' || rolUser() === 'Encargado') {
          <div class="card-actions justify-center mt-4">
            <button
              [routerLink]="['formulario/', item[configCard().id!]]"
              class="btn btn-circle btn-outline"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-square"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                />
              </svg>
            </button>
            @if (item[configCard().status!] === true) {
              <button
                class="btn btn-circle btn-outline"
                (click)="eliminar.emit(item[configCard().id!])"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            } @else {
              <button
                class="btn btn-circle btn-outline"
                (click)="activar.emit(item[configCard().id!])"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-check-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                  <path
                    d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"
                  />
                </svg>
              </button>
            }
          </div>
        }
      </div>
    </div>
  } @empty {
    <div class="my-3 font-montserrat">
      <h3 class="font-bold text-2xl">No se encontro niguna data para mostrar</h3>
    </div>
  }
</div>
